*{
		box-sizing: border-box;
		font-family: 'Fira Sans', sans-serif;
}

body{
	background-color: #F9CCCC;
}
#logo1{
	margin-left: 40%;
}

#inscri{
	margin-top: 0px;
	background-color: #C6C6C6;
	width: 50%;
	height:350px;
	margin-left: 25%;
	padding-left: 2%;
	padding-top: 1%;
	border-radius: 10px;
	overflow: auto;
}

#inscri a {
	color:black;
}

#retour{
	background-color: #C6C6C6;
	border-radius: 20px;
	width: 12%;
	height: 50px;
	margin-left: 1%;
	text-align: center;
	padding-top: 1%;
}

#retour a{
	text-decoration: none;
}

#b{
	border-radius: 20px;
	background-color: #F9CCCC; 
}

@media only screen and (max-width : 2560px) and (min-width: 1440px){

#logo1{margin-left: 45%;}

h1{font-size: 500%;}

#retour{
	background-color: #C6C6C6;
	border-radius: 20px;
	width: 12%;
	height: 50px;
	margin-left: 1%;
	text-align: center;
	padding-top: 0.5%;}

#inscri{
	margin-top: 0px;
	background-color: #C6C6C6;
	width: 100%;
	height:900px;
	margin-left: 0%;
	padding-left: 2%;
	padding-top: 1%;
	border-radius: 10px;
	overflow: auto;
	font-size: 300%;
}

#hello{
	width: 100%;
	height: 400%;
	font-size: 300%;}
}

#pseudo, #pwd, #login, #mail, textarea{
	width: 30%;
	margin-top: 1%;
	height: 13%;
	font-size: 100%;}

@media only screen and (max-width : 1440px) and (min-width: 1024px){

#inscri{
	margin-top: 0px;
	background-color: #C6C6C6;
	width: 100%;
	height:450px;
	margin-left: 0%;
	padding-left: 2%;
	padding-top: 1%;
	border-radius: 10px;
	overflow: auto;
	font-size: 100%;}

#retour{
	background-color: #C6C6C6;
	border-radius: 20px;
	width: 10%;
	height: 50px;
	margin-left: 1%;
	text-align: center;
	padding-top: 0.5%;}

#hello{
	width: 110%;
	height: 400%;
	font-size: 100%;}

h1{font-size:200%;}
}

@media only screen and (max-width : 1024px) and (min-width: 768px){

h1{font-size:200%;
margin-left: 0%;}}


@media only screen and (max-width : 768px) and (min-width: 425px){

#logo1{margin-left: 36%;}

#inscri{
	margin-top: 0px;
	background-color: #C6C6C6;
	width: 100%;
	height:400px;
	margin-left: 0%;
	padding-left: 2%;
	padding-top: 1%;
	border-radius: 10px;
	overflow: auto;
	font-size: 100%;}}

@media only screen and (max-width : 425px) and (min-width: 375px){

 #logo1{margin-left: 23%;}

 #retour{
	background-color: #C6C6C6;
	border-radius: 20px;
	width: 25%;
	height: 50px;
	margin-left: 1%;
	text-align: center;
	padding-top: 1.6%;}

#inscri{
	margin-top: 0px;
	background-color: #C6C6C6;
	width: 100%;
	height:350px;
	margin-left: 0%;
	padding-left: 2%;
	padding-top: 1%;
	border-radius: 10px;
	overflow: auto;
	font-size: 100%;}
}

@media only screen and (max-width : 375px) and (min-width: 320px){

 #logo1{margin-left: 16%;}}

@media only screen and (max-width : 320px){

 #logo1{margin-left: 10%;}

 #retour{
	background-color: #C6C6C6;
	border-radius: 20px;
	width: 40%;
	height: 50px;
	margin-left: 1%;
	text-align: center;
	padding-top: 1.6%;}

#inscri{
	margin-top: 0px;
	background-color: #C6C6C6;
	width: 100%;
	height:400px;
	margin-left: 0%;
	padding-left: 2%;
	padding-top: 1%;
	border-radius: 10px;
	overflow: auto;
	font-size: 100%;}
}